
#main-cafeteriapage {
    margin: 96px;
}

#container-cafeteria {
    max-width: fit-content;
    border: 1px solid black;
    min-height: 500px;
    text-align: center;
    overflow: hidden;
    min-width: 305px;
}
#container-cafeteria h3{
    font-family: 'Courier New', Courier, monospace;
}

.cafewrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    column-gap: 10px;
    overflow: auto;
    width: 100%;
    
}

#navbar-list ul {
    list-style: none;
    display: flex;
    column-gap: 10px;
    margin: 0;
    background-color: #B9A585;
    width: 100%;
    min-width: 305px;
    padding: 10px;
    font-size: 26px;
    overflow: auto;
}

#navbar-list ul li {
    display: flex;
    align-items: flex-end;
    font-size: 0.6em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 10px;
    transition: background-color 0.1s ease, transform 0.1s ease;
}
#navbar-list ul li:hover {
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.8));
    transform: translateY(30%);
    color: white;
}
a {
    text-decoration: none;
    color: black;
}

#navbar-list ul li:first-child{
    font-size: 0.9em;
}


.cafeteriacontent > div:nth-child(1) {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    column-gap: 10px;
    color: #FFA81C;
}
.cafeteriacontent > div:nth-child(1) > i {
    font-size: 24px;
}
#main-container {
    display: flex;
    column-gap: 15px;
}

.cart-container {
    position: sticky;
    top: 0;
}