#etiqueta-cafeteria {
    display: flex;
    /* max-width: fit-content; */
    column-gap: 1em;
    max-width: 391px;
    min-width: 300px;
}
#cafeteria-img {
    width: 50%;

}
#cafeteria-img figure {
    margin: 0;
    height:max-content;
}
#cafeteria-content {
    text-align: left;
    max-width: 50%;
}
#cafeteria-content p {
    margin: 0;
    padding-top: 10px;
    width: 100%;
    min-height: 80%;
}

#cafeteria-content input{
    width: 50px;
    background-color: unset;
    border: none;
}
#cafeteria-content button {
    background-color: black;
    color: white;
    max-width: 91px;
    padding: 5px 15px;
    border: none;
    font-size: 20px;
}
#cafeteria-content button:hover {
    background-color: rgb(63, 62, 62);
}
#cafeteria-content button:active {
    transform: scale(0.9);
}