
#main-cafeteriapage {
    margin: 96px;
}

#container-cafeteria{
    min-width: 300px;
}
.cafewrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    overflow: auto;
}

#navbar-list ul {
    list-style: none;
    display: flex;
    column-gap: 10px;
    margin: 0;
    background-color: #B9A585;
    min-width: 280px;
    padding: 10px;
    overflow: auto;
    font-size: 26px;

}

#navbar-list ul li {
    display: flex;
    align-items: flex-end;
    font-size: 0.6em;
}
a {
    text-decoration: none;
    color: black;
}

#navbar-list ul li:first-child{
    font-size: 0.9em;
}
#container-cafeteria {
    width: 100%;
    border: 1px solid black;
    min-height: 500px;
    text-align: center;
}
#container-cafeteria h3{
    font-family: 'Courier New', Courier, monospace;
}

