
#container-foot {
    background:  linear-gradient(0deg, rgba(24, 0, 50, 0.3), rgba(24, 0, 50, 0.3)), linear-gradient(0deg, rgba(40, 25, 1, 0.78), rgba(40, 25, 1, 0.78)), url("https://images.unsplash.com/photo-1616666398260-ce26b6ad6b6f?q=80&w=1796&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 50vh;
    position:relative;
    padding: 0 96px;
}
#wrapper-foot {
    display: flex;
    column-gap: 50px;
    padding: 0 10px;
}
#wrapper-foot a, #wrapper-foot h2, #wrapper-foot h3, #wrapper-foot li {
    color: #FFEAD8;
}
#foot-nosotros li {
    list-style: circle;
}
.contacto h3{
    color: #FFEAD8;
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 20px;
    margin: 10px;
}
.foot ul {
    margin: 5px 0;
    padding: 0 20px;
    list-style: none;
}
