#etiqueta-cafeteria {
    display: flex;
    /* max-width: fit-content; */
    column-gap: 1em;
    max-width: 391px;
    min-width: 300px;
    
}
#cafeteria-img {
    width: 50%;

}
#cafeteria-img figure {
    margin: 0;
    height:max-content;
}
#cafeteria-content {
    text-align: left;
    max-width: 50%;
}
#cafeteria-content p {
    margin: 0;
    padding-top: 10px;
    width: 100%;
    min-height: 80%;
}

#cafeteria-content input{
    width: 50px;
    background-color: unset;
    border: none;
}
#cafeteria-content button {
    background-color: #ffe760;
    color: black;
    max-width: 91px;
    padding: 5px 15px;
    border: 1px solid black;
    font-size: 20px;
    box-shadow: 0px 2px 1px black;
}
#cafeteria-content button:hover {
    background-color: rgb(255, 155, 40);
}
#cafeteria-content button:active {
    transform: scale(0.9);
}
#cafeteria-content > div > input {
    font-family: "Kotta One";
    font-weight: bold;
    font-size: 16px;
}