
#navbar-fixed {
  background-color: #272F42;
  position: fixed;
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  top: 0;
}
#navbar-fixed #nav-btns {
  display: flex;
  
  column-gap: 30px;
}
#nav-btns .nav-button {
  background-color: #82A1FF;
  padding: 1px 15px;
  color: white;
  
  font-family: Koulen;
  text-decoration: none;
  font-size: 20px;
}