* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  background-color:  #FFEBCA;
  scroll-behavior: smooth;
  scrollbar-color: #30333a #94a9b6; 
}
html {
  scrollbar-width: auto;
  scrollbar-color: #888 #f0f0f0; 
  scroll-behavior: smooth;
}
/*
::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
  border: 2px solid #f0f0f0; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
*/

h2 {
  font-family: Koulen;
  font-weight: lighter;
  margin: 0;
}
h1 {
  font-family: "Oregano", cursive;
  font-weight: initial;
  font-size: 60px;
  margin: 0;
}

figure img {
  width: 100%;
  height: 100%;
}


